.menu{
    text-align: center;
    float: right;
    background-color: lightsteelblue;
    height: 100px;
    width: 600px;
    
   }

#Vlaggen{
    display: inline-block;
    border: dashed;
    color: black;
}

#Mondriaan{
    display: inline-block;
    border-left: dashed;
    border-bottom: dashed;
    border-right: dashed;
    color: black;
}

.id{
    display: inline-block;
    border: solid;
    border-bottom: solid;
}

.balk{
    width: 100%;
    height: 50px;
    background-color:teal;
    margin-bottom: 20px;
}