/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */


#bovenkant{
    background-color: yellow;
    width: 900px;
    height: 50%;
}
#midden{
    background-color: blue;
    width: 900px;
    height: 25%;
}
#onderkant{
    background-color: red;
    width: 900px;
    height: 25%;
}

