/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    display: inline-block;
    background-color: red;
    width: 300px;
    height: 600px;
}
#midden{
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 600px;
}
#onderkant{
    display: inline-block;
    background-color: blue;
    width: 300px;
    height: 600px;
}
